@model Pry_Web.Entidad.persona

<h3>Resultado de la consulta</h3>
<p>Codigo de Documento:</p> <p>@Model.Documento</p>
<p>Nombre :</p> <p>@Model.Nombre </p>
<p>Resultado:</p><p>@Model.Resultado</p>
<p>Codigo WS:</p><p>@Model.CodigoWS</p>
<p>Ponderado</p><p>@Model.Ponderado</p>
<p>Comentario del sistema:</p><strong>@Model.ResultadoTexto</strong>
<p>Fin de la consulta......</p>